* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Arial", serif;
}

li {
    list-style: none;
}

body {
    height: 500px;
}

#content {
    height: 100%;
    margin: 3em;
    width: 100%;
}

#content>* {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

#content>*>* {
    font-size: 1.2rem;
}

#content .cat-elem {
    padding: 0.5em 1em;
}

#cat-list {
    max-width: 30%;
    text-align: left;
}

#cat-area {
    border-left: 1px solid blue;
    width: 70%;
    padding: 2em 10%;
    text-align: center;
}

#cat-area>* {
    margin-top: 1em;
}

#cat-area   .name {
    font-weight: bold;
    font-size: 1.5em;
}

.picture {
    height: 80%;
    max-width: 100%;
}

.counter {
}


/*.counter .message {
    display: block;
    width: 100%;
    text-align: center;
    height: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(0, -50%);
}

.message {
    margin-top: 20px;
    font-size: 1rem;
}
*/