* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Arial", serif;
    font-size: 1em;
}

li {
    list-style: none;
}

body {
    height: 420px;
}

#content {
    height: 100%;
    margin: 3em;
    width: 100%;
}

#content>* {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

#cat-list>li {
    padding: 0.5em 1em;
}

#cat-list {
    max-width: 30%;
    text-align: left;
}

#cat-area {
    border-left: 1px solid blue;
    width: 70%;
    padding: 0em 5%;
    text-align: center;
}

.cat-param+.cat-param {
    margin-top: 1em;
}

#cat-area #name {
    font-weight: bold;
    font-size: 1.5em;
}

#picture {
    height: 75%;
    max-width: 100%;
}